@page
@using Abc.Pages.Common.Extensions
@model Abc.Pages.Processes.ProcessTypesPage

@{
    Layout = "_Delete";
    Model.LoadDetails();
}

<body>
    @Html.ShowItem(Model)
</body>

<partial name="_ShowElement" />