@page
@using Abc.Pages.Common.Extensions
@model Abc.Pages.Currencies.CurrenciesPage


@{
    Layout = "_Edit";
    Model.LoadDetails();
}

<body>
  @Html.EditItem(Model)
</body>

<partial name="_EditCurrency" />
