@page
@using Abc.Aids.Enums
@using Abc.Pages.Common.Extensions
@using DocumentFormat.OpenXml.Office.CustomUI
@model Abc.Pages.Parties.BodyMetricPage

@{
    Layout = "_Edit";
}
<body>
    @Html.EditItem(Model)
</body>