@page
@using Abc.Data.Currencies
@using Abc.Pages.Common.Extensions
@model Abc.Pages.Currencies.PaymentMethodsPage

@{
    Layout = "_Edit";
}

<body>
    <input type="hidden" asp-for="Item.Id" />
    <input type="hidden" asp-for="Item.PaymentMethodType" />
    @Html.EditItem(Model)
</body>

