@page
@using Abc.Pages.Common.Extensions
@model Abc.Pages.Inventory.InventoryEntriesPage

@{
    Layout = "_Create";
}

<body>
    <input type="hidden" asp-for="Item.Id" />
    <input type="hidden" asp-for="Item.InventoryEntryType" />
    @Html.EditItem(Model)
</body>