@page
@using Abc.Pages.Common.Extensions
@using Abc.Soft.Pages.Components
@using DocumentFormat.OpenXml.Wordprocessing
@using Microsoft.AspNetCore.Html
@model Abc.Pages.Parties.PartyPage

@{
    Layout = "_Create";
}
<body>
    @Html.EditItem(Model)
    <component> @(await Html.RenderComponentAsync<Contacts>(RenderMode.Server, new {Model.PartyContacts, Model.Countries}))</component>
    <component> @(await Html.RenderComponentAsync<BodyMetrics>(RenderMode.Server, new {PartyId = Model.Item.Id, Model.Metrics, Types = Model.BodyMetricTypes, Model.Units}))</component>
</body>