@page
@using Abc.Pages.Common.Extensions
@model Abc.Pages.Processes.ActionTypesPage

@{
    Layout = "_Edit";
    Model.LoadDetails();
}

<body>
  @Html.EditItem(Model)
</body>

<partial name="_EditElement" />